/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
    position: absolute;
    width: 100%;
        padding: 0 2%;
}

    .row { padding: 0 2%; }
    
}



/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 19px; }
    section { padding: 60px 0; }
    
    
    .icon-small { 
        width: 19px;
        margin-right: 6px;
    }
   
    .contact-form { width: 70%; }
    
}

    .hero-text-box {

    transform: translate(-45%, -40%);
}

 header {
        background-position: right;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/cover.jpg);
    }





/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 18px; }
    section { padding: 40px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
     .hero-text-box {
    position: absolute;
    width: 100%;
        padding: 0 0%;
        
}
    
    .hero-text-box {

    transform: translate(-40%, -40%);
}

     header {
        background-position: right;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(images/cover.jpg);
         height: 100vh;
    background-attachment:scroll;
    }
    
    
    
    .box img {
    width: 60%;
    margin-left: 25%;
    height: auto;
    margin-bottom: 10px;
}
    .box-catalog {
        width: 50%;
        display: block;
        margin-left: ;
        margin:
    }
    
    .contact-box {
    position: relative;
    height: 200px;
    border: 1px solid #ff9999;
    border-radius: 20px;;
    text-align: center;
    margin-bottom: 15px;
}

    
    .model-feature {
        margin-left: 30%
    }
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
 
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  
     body { font-size: 18px; }
    section { padding: 20px 0; }
    h1 { font-size: 25px;}
    
    .hero-text-box {

    transform: translate(-45%, -40%);
}
    
    header {
        background-position: right;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(images/cover.jpg);
        height: 80vh;
    background-attachment:scroll;

    }


    
     .box-catalog {
        width: 100%;
        display: block;
        padding-bottom: 10px;
    }
    
     section { padding: 25px 0; }
    .contact-form {width: 100%; }
}

